body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    /*O height determina altura o header, o border-bottom coloca uma borda na parte de baixo do header. O lightgrey é a cor da borda*/
    height: 80px;
    border-bottom: solid 1px lightgrey;
}
/*Componente Menu principal*/
.menu-principal{
    /*Jogamos os elementos pra direita com o float e ajustamos com o margin*/
    right: 0px;
    float: right;
    margin-right: 10px;
}
.menu-principal ul{ /*Tiramos os bullets(bolinhas que ficam antes das uls*/
    list-style: none;
}
.menu-principal ul li{ /*Deixamos em inline block*/
    display: inline-block;
}
.menu-principal ul li a{ 
    /*Colocamos cores no fundo dos  elementos que estão linkados a algo. O padding ajusta as medidas dentro das "caixinhas" que cada elemento tá*/
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px;
}
.menu-principal ul li a:hover{ /*Colocamos cores no fundo dos elementos que estão linkados a algo.Por causa do hover, elas aparecem quando passamos o mouse encima desses elementos*/
    color: red;
    background-color: lightgray;
}
main{
   /*o width faz que 70% da página seja ocupada pelo main e os outros 30% pelo aside.Isso dá certo porque como usamos o float left nod dois, eles ocupam a mesma parte da página, o que permite fazermos essa divisão. */
   width: 70%;
   float: left;
   background-color: lightpink;
}
.caixa-post{
    padding: 10px 10px ;
}
.thumbnail{
    display: block;
    float: left;
    margin-right: 10px;
    width: 150px;
    padding-bottom:10px ;
}
.texto{
    padding-bottom: 10px;
}
aside{
    float: left;
    width: 30%;
    background-color: lightgrey;
    padding-bottom: 100px;
}
/*Componente caixa de pesquisa*/
.caixa-pesquisa{
    margin: 20px;
    margin-bottom: 30px;
}
.caixa-pesquisa h3{
    margin-bottom: 10px;
    font-size: 130%;
}
/*Componente categorias*/
.caixa-categoria{
    margin: 20px;
}
.caixa-categoria ul{
    list-style: none;
}
.caixa-categoria a{
    text-decoration: none;
}
.caixa-categoria h3{
    margin-bottom: 10px;
    font-size: 130%;
}
.caixa-categoria ul li{
    font-size: 120%;
}


